
body {
    font-family: 'Raleway', sans-serif;
}

.navbar-brand.logo {
  color: #FFF;
  font-family: 'Pacifico', cursive;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-brand.logo:focus,
.navbar-brand.logo:hover, {
  color: #FFF;
}

.navbar-brand {
  font-size: 28px;
}

.navbar-brand-logo {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

.nav,
.navbar {
font-family: 'Raleway', sans-serif;
  background-color: #ed5565;
  border: none;
}

.nav-tabs {
font-size:1.1em;
background-color: #ccd1d9;
border-radius:4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;;
}

.navbar-inverse .navbar-text {
  color: #FFF;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
  border-bottom: none;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: #DA4453;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #DA4453;
  /*background-color: #ff8898;*/
}

h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin-left: -3px;
    line-height: 1em;
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
    text-rendering: optimizeLegibility;
}

table {
    width: 80%;
    background-color: #E6E9ED;
    margin: auto;
}

table, th, td {
    /*border: 1px solid #fff;*/
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}



/*body {*/
  /*background-color: #DA4453;*/
  /*color: #FFF;
  font-size: 16px;
}*/

tr:nth-child(2n) {
    /*background-color: #e6e9ed;*/

  background-color: #ff8898;
}

.nav-tabs > li > a {
  color: #FFF;
  width: 300px;
  border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #ed5565 !important;
  /*background-color:#ff8898;*/
  border: 1px solid #FFF;
  border-bottom: none;
  color: #fff;
}

.btn-default {
  background-color: #ED5565 !important;
  color: #FFF;
  border: 1px solid #FFF !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  background-color: #DA4453 !important;
  color: #000;
  border: 1px solid #FFF !important;
}


.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  background-color: #ED5565 !important;
}

a {
  color: #FFF;
}

.nav-sidebar > li > a {
  border-bottom: 1px solid white;
}

.sidebar {
  background-color: #DA4453 !important;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #ff8898;
  color: #FFF;
}
