<html lang="en" class="no-js">
    <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GreatHost</title>
  <link rel="stylesheet" type="text/css" href="../static/css/example.css">
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/component.fullscreen-form.css"> -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <script src='../static/js/example.min.js'></script>
  <script type="text/javascript" src="../static/js/site.min.js"></script>
</head>

      <body>

        <div class="container">

          <div class="fs-form-wrap" id="fs-form-wrap">
            <div class="fs-title">
              <h1>Waitlist SignIn</h1>
            </div>
            <form id="myform" class="fs-form fs-form-full" autocomplete="off">
              <ol class="fs-fields">
                <li>
                  <label class="fs-field-label fs-anim-upper" for="q1">Greetings!<br>Please enter the number of people in your party.</label>
                  <input class="fs-anim-lower" id="q1" name="q1" type="number" placeholder="0" required/>
                </li>
                <li>
                  <label class="fs-field-label fs-anim-upper" for="q2" data-info="">Your estimated wait time is <span id="wait-time-span"></span></label>
                  <input class="fs-anim-lower" id="q2" name="q2" type="time" placeholder="0:00" />
                </li>
<li>
                    <label class="fs-field-label fs-anim-upper" for="q3" data-info="">Please enter your info and we will text you when your table is ready.</label>
                    <input class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="Name:" required/><br>
                    <input class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="Phone:" required/>
                  </li>

                <li>
                  <label class="fs-field-label fs-anim-upper" for="q4">Do you have any special requests?</label>
<textarea class="fs-anim-lower" id="q4" name="q4" placeholder="Describe here"></textarea>
                </li>

                <li>
                  <label class="fs-field-label fs-anim-upper" for="q5">We will let you know when your table is ready.</label>
                </li>

              </ol>
              <!-- /fs-fields -->
              <button class="fs-submit" type="submit">Send answers</button>
            </form>
            <!-- /fs-form -->
          </div>
          <!-- /fs-form-wrap -->


        </div>
        <!-- /container -->

        <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        window.addEventListener('load', function() {
          var formWrap = document.getElementById('fs-form-wrap');
          new window.FForm(formWrap, {
            onReview: function() {
              classie.add(document.body, 'overview'); // for demo purposes only
            }
          });
        }, false);

        var changeFunction = function(){
          console.log("Party size has been changed...")
          var partySize = $("#q1").val;
          var target = $("wait-time-span");

          // AJAX request
          $.getJSON($SCRIPT_ROOT + '/_wait_time',
            // The object to pass to the server
            { 
              party_size: partySize
            },
            // The function to call with the response
            function(data) {
              var waitTime = data.result;
              console.log(waitTime);
              // alert("Got a response: " +  waitTime);
              target.innerHTML = (waitTime);
            }); // End of the call to getJSON
        }

        $('input[name="q1"]').on("change", function(){
            changeFunction();
        });

        </script>
      </body>

</html>
